@model IEnumerable<JOB_FINDER.Models.USER>

@{
    ViewBag.Title = "SeeApplicantProfile";
}

<div style="padding: 40px;">
    <h2>See the Profile of this Applicant!</h2>

    @foreach (var item in Model)
    {
        <div>
            <p>
                @Html.DisplayFor(modelItem => item.Name)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.Phone)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.Email)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.University)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.Skill)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.Address)
            </p>
            <p>
                @if (item.CV == null)
                {
                <p>No CV found.</p>
            }
            else
            {
                @Html.ActionLink("Download", "Download", "USERs", new { fileName = item.CV }, null)
            }
                </p>
            </div>

            <!--button added for CP 3-->
            <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Create", "RECOMMENDATIONs", new { id = item.UserID })'">Give Recommendation</button>
            <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Index", "RECOMMENDATIONs", new { id = item.UserID })'">See recommendations about this user</button>
        }
</div>
